.button {
  display: block;
  box-sizing: border-box;
  background-color: @basic-green;
  color: @basic-white;
  font-family: "Oswald", "Arial", sans-serif;
  padding-top: 11px;
  padding-bottom: 11px;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: @basic-green-2;
  }

  &:active {
    background-color: @basic-green-2;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    padding: 10px;
  }

  &--introduction {
    @media (min-width: 500px) {
      background-color: @basic-grey;
      color: @basic-black;
    }

    @media (min-width: @tablet-width) {
      background-color: @basic-green;
      color: @basic-white;
      width: 242px;
      padding: 18px 0;
    }

    @media (min-width: @desktop-width) {
      width: 244px;
      left: 5px;
    }
  }

  &--silver {
    font-size: 16px;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    background-color: @basic-grey;
    color: @special-dark-grey;

    &:hover,
    &:focus {
      background-color: @special-grey-2;
    }

    &:active {
      background-color: @special-grey-2;
      color: rgba(68, 68, 68, 0.3);
    }
  }

  &--catalog {
    text-align: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;

    @media (min-width: @desktop-width) {
      width: 244px;
    }
  }
}
