.copyright {
  padding: 22px 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.copyright__link {
  color: @special-dark-grey;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link span {
  &:hover,
  &:focus {
    color: @special-dark-grey;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.copyright__link svg {
  display: block;
  text-align: center;
  width: 27px;
  height: 34px;
  fill: #666666;

  @media (min-width: @tablet-width) {
    display: inline-block;
    vertical-align: middle;
  }

  &:hover,
  &:focus {
    fill: @basic-green;
  }

  &:active {
    fill: rgba(68, 68, 68, 0.3);
  }
}
