.introduction {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 320px;
}
.introduction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  color: @basic-white;
}
.introduction__slogan {
  color: @basic-white;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}
.introduction__form-link {
  display: inline-block;
  color: @basic-white;
  text-align: center;
  margin-top: 302px;
}
.introducton__ilustration{
  display: block;
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translate(-50%, 0);
}
