.introduction {
  //background-color: @basic-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  //background-position: top center;
  background-size: 100% auto;
  padding-top: 27px;
  //padding-left: 20px;
  //padding-right: 20px;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-top: 62px;
    padding: 0;
    background-image: none;
    min-height: 810px;
  }

  @media (min-width: @desktop-width) {
    min-height: auto;
    padding-left: 80px;
    max-width: 1220px;
    margin: 0 auto;
    margin-top: 111px;
    margin-bottom: 82px;
  }
}

.introduction__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: 249px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 25px;
  color: @basic-white;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 60px;
    line-height: 60px;
    width: 414px;
    margin: 0;
    margin-bottom: 41px;
    text-align: left;
  }
}

.introduction__slogan {
  color: @basic-white;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    padding-left: 118px;
    z-index: 10;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.introduction__form-link {
  display: block;
  //width: 100%;
  margin: 0 auto;
  color: @basic-white;
  text-align: center;
  margin-top: 299px;

  @media (min-width: @tablet-width) {
    width: 244px;
    margin: 0;
    margin-top: 49px;
    z-index: 999;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}

.introduction img {
    display: block;
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: @tablet-width) {
      width: 709px;
      height: 609px;
      top: 201px;
      z-index: 1;
    }

    @media (min-width: @desktop-width) {
      width: 552px;
      height: 499px;
      top: 0;
      //transform: translate(177px);
    }
}
