.introduction {
  //background-color: @basic-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  //background-position: top center;
  background-size: 100% auto;
  padding-top: 27px;
  //padding-left: 20px;
  //padding-right: 20px;
  margin-bottom: 22px;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding: 0;
    background-image: none;
    min-height: 810px;
  }

  @media (min-width: @desktop-width) {
    min-height: auto;
    margin-top: 29px;
    padding-top: 82px;
  }
}

.introduction__container {
  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    padding-left: 88px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: auto;
    padding-left: 80px;
  }
}

.introduction__title {
  text-align: center;
  margin-bottom: 25px;
  color: @basic-white;
  line-height: 36px;


  @media (min-width: @tablet-width) {
    color: @basic-black;
    width: 414px;
    margin: 0;
    margin-bottom: 41px;
    text-align: left;
    line-height: 60px;
  }
}

.introduction__slogan {
  color: @basic-white;
  text-align: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: @tablet-width) {
    color: @basic-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    z-index: 10;
    margin-bottom: 49px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 0;
  }
}

.introduction__form-link {
  display: block;
  //width: 100%;
  //margin: 0 auto;
  text-align: center;
  margin-top: 302px;

  @media (min-width: @tablet-width) {
    position: relative;
    width: 244px;
    margin: 0;
    margin-top: 49px;
    z-index: 999;
    font-size: 20px;
    transform: translateX(-4px);
  }

  @media (min-width: @desktop-width) {
    margin-top: 52px;
  }
}

.introduction img {
  display: block;
  position: absolute;
  top: 167px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
    top: 201px;
    z-index: 1;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    top: -0;
    left: 448px;
    transform: translateX(0);
    //transform: translate(177px);
  }
}
