.process {
  color: @special-dark-grey;
}
.process__title {
  font-family: "Oswald", "Arial", sans-serif;
  color: @basic-black;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}
.process__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
