.site-list {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  a {
    display: block;
    color: @basic-black;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;

    @media (max-width: @mobile-width-only) {
      border-top: 1px solid #e6e6e6;
    }

    @media (min-width: @tablet-width) {
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      padding-top: 42px;
      padding-bottom: 12px;
    }

    @media (min-width: @desktop-width) {
      font-size: 20px;
      line-height: 30px;
      color: @basic-black;
      padding-top: 71px;
      padding-bottom: 12px;
    }
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    margin-right: 32px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 168px;
        height: 2px;
        background-color: @basic-green;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--active::before {
      display: none;
    }

    &--active::after {
      content: "";
      position: absolute;
      height: 2px;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: @basic-black;
    }
  }
}
