.social {
  padding-right: 77px;
  padding-left: 73px;
}
.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  vertical-align: center;
  //justify-content: center;
}

.social__link {
  display: block;
}
