@basic-green: #68B738;
@special-green: #64a83b;
@basic-green-2: #5EAA2F;
@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-grey: #F2F2F2;
@special-grey-2: #EBEBEB;
@special-dark-grey:  #444444;
@special-dark-grey-2: #222222;
@grey-cat: #EAEAEA;
@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
@input-form-grey: #E7E7E7;
@border-grey: #CDCDCD;
@light-grey: #666666;
@input-error: #FF8282;
@form-hover: #BABABA;
@special-grey-3: #d9d9d9;
@special-border-grey: #e6e6e6;
@mobile-border-grey: #ebebeb;
@grey-range: #dcdcdc;
@catalog-heading: #222222;
