.form {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__input {
  margin: 0;
  flex-grow: 1;
  font: inherit;
  text-transform: uppercase;
  border: 2px solid @input-form-grey;
  outline: none;
  padding: 0;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 17px;
  }

  &--contacts {
    padding-left: 16px;
    padding-top: 13px;
    padding-bottom: 13px;

    @media (min-width: @tablet-width) {
      padding-bottom: 10px;
      padding-left: 20px;
    }
  }

  &:hover {
    border-color: @border-grey;
    outline: 0;
    outline-offset: 0;
  }

  &:focus {
    border-color: @special-dark-grey;
    outline: 0;
    outline-offset: 0;
  }

  &:focus + svg {
    fill: @basic-green;
  }

  &--error {
    border-color: @input-error;
  }

  &--error + svg {
    fill: @input-error;
  }
}

.form__introduction {
  font-size: 14px;
  width: 226px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    width: 323px;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__contacts,
.form__comments,
.form__extra,
.form__aim,
.form__information {
  border: none;
  padding: 0;
}

.form__aim {
  margin-top: 26px;
  padding-top: 20px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin-top: 71px;
    padding-top: 21px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__contacts {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 71px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.form__extra {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
    margin-bottom: 61px;
  }
}

.form__send {
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }
}
