.heading-form {
  font-family: Oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-black;
  margin: 0;
  //padding-left: 20px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    //padding-left: 30px;
    margin-top: 64px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    font-size: 60px;
    line-height: 60px;
    margin-top: 73px;
    margin-bottom: 56px;
  }
}
