.heading-form {
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 37px;

  @media (min-width: @tablet-width) {
    margin-top: 64px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 73px;
    margin-bottom: 56px;
  }
}
