.information {
  color: @special-dark-grey;
  //padding-bottom: 27px;
}

.information__item {
  display: flex;
  margin-bottom: 14px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 18px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--age label {
    min-width: 94px;
  }
}

.information__item label {
  margin-right: 15px;

  @media (min-width: @tablet-width) {
    margin-right: 19px;
  }
}

.information__item input {
  margin: 0;
  flex-grow: 1;
  font: inherit;
  text-transform: uppercase;
  border: 1px solid @input-form-grey;
  outline: none;
  padding: 0;
  padding-left: 15px;
  padding-top: 14px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 17px;
  }
}

.information__item input[type="text"]::placeholder {
  font: inherit;
  color: @special-dark-grey;
}
