.product {
  color: @special-dark-grey-2;
}
.product__title {
  color: @special-dark-grey-2;
}
.product__title h3 {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product__information table {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
}
.product__information td {
  padding: 0;
}
.product__order {
  display: block;
  margin-top: 13px;
  text-align: center;
}
