.product {
  color: @special-dark-grey-2;
}

.product__title {
  color: @special-dark-grey-2;

  h3 {
    margin: 0;
    margin-bottom: 18px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.product__information {
  td {
    padding: 0;
    font-size: 12px;
    line-height: 16px;
  }
}

.product__order {
  display: block;
  margin-top: 13px;
  text-align: center;
}
